<div class="lastfooterdiv">
    <img src="../assets/images/tagline-stamp.png">
    <div><a href="" style="text-decoration: none;color: gray;font-size: 17px;">{{footerSection[0]}}<i
                class="bi bi-facebook"></i>
            <i class="bi bi-linkedin"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-globe"></i>

        </a></div>
    <p>© <span style="color:#d66f37">{{footerSection[1]}}</span> {{footerSection[3]}} <a href=""
            style="text-decoration: none;color:#d66f37">{{footerSection[4]}}</a></p>
</div> 