<div class="menu">
          
    <ul>
        <li class="active"><a href="">{{technologiesdata.technologies}}</a></li>
        <li><a href="">{{technologiesdata.web}}</a></li>
        <li><a href="">{{technologiesdata.mobile}}</a></li>
        <li><a href="">{{technologiesdata.desktop}}</a></li>
        <li><a href="">{{technologiesdata.plateform}}</a></li>
        <li><a href="">{{technologiesdata.database}}</a></li>
        <li><a href="">{{technologiesdata.machineLearning}}</a></li>
        <li><a href="">{{technologiesdata.devOps}}</a></li>
        <li><a href="">{{technologiesdata.clouds}}</a></li>
    </ul>
</div>