

    <div class="topbar">

        <app-headernavbar [headernavcontent]="labelHeader"></app-headernavbar>

        <app-main-section [sectiondata]="mainsection"></app-main-section>
       
    </div>

    <!-- ___________________________________________________________ -->

  <!----
        <h1>{{service.ourservices}}</h1>
        <span class="headerline"></span>

        <div class="boxes" >
            <div class="divcontent divcontent1" style="border: none;">
                <h1 style="text-align: left; line-height: 70px;font-weight: 700;">{{service.find}}<br> <span
                        style="font-weight: bolder; font-size: 60px;">{{service.rightoffer}}</span> <br> {{service.foryou}}</h1>
            </div> -->

            <app-service [serviceData]="services"></app-service>
    <!-- <div class="services">

        <div class="boxes">
            <div class="divcontent divcontent2" *ngFor="let service of services">
                
                <div class="flex">
                    <img src={{service.img}}>
                    <h2>{{service.tag}}</h2>
                </div>
                <p>{{service.description}}</p>
                <a href="#">{{service.button}}</a>
            </div>
    </div>
</div> -->
        
   


  
    
     <div class="experience">
        <app-experience-section [experiencedata]="experience"></app-experience-section>

        <!-- <div class="contentexp">
            <h2>{{experience.experiencetag}}</h2>
            <p>{{experience.experiencedescription}}</p>
            <button [type]="experience.contactbtn">Contact Us</button>
        </div> -->

        <span>
            <img src="{{experience.imgtag}}" height="490">
        </span>

        <app-experience-info [experienceInfoData]="experincesubs"></app-experience-info>
<!-- 

        <div class="numberexp">

            <div class="fulldiv1" class="fulldiv2">
                <div class="div1" class="div3" *ngFor="let experincesub of experincesubs">
                    <img src="{{experincesub.img}}">
                    <h1>{{experincesub.tittle}}</h1>
                    <h5>{{experincesub.description}}</h5>
                </div>
            
        </div>
    </div> -->
    </div> 

    <!-- ____________________________________________________________________ -->

    <h1 style="text-align: center;margin: 40px;font-size: 2rem; margin-bottom: 0;">{{technologies.technologies}}</h1>
    <span class="headerline"></span>
    <div class="row">

        <app-technologies [technologiesdata]="technologies"></app-technologies>
        <!-- <div class="menu">
          
            <ul>
                <li class="active"><a href="">{{technologies.technologies}}</a></li>
                <li><a href="">{{technologies.web}}</a></li>
                <li><a href="">{{technologies.mobile}}</a></li>
                <li><a href="">{{technologies.desktop}}</a></li>
                <li><a href="">{{technologies.plateform}}</a></li>
                <li><a href="">{{technologies.database}}</a></li>
                <li><a href="">{{technologies.machineLearning}}</a></li>
                <li><a href="">{{technologies.devOps}}</a></li>
                <li><a href="">{{technologies.clouds}}</a></li>
            </ul>
        </div> -->
        <div class="language">
            <div class="web">
                <h1>{{technologies.web}}</h1>
                <h2 style="margin-top: 20px;font-weight: 400;">{{backend.backendtag}}</h2>

                <app-backend-technologies  [backenddata]="backend"></app-backend-technologies>
                <!-- <div class="backend">

                    <div class="ror">
                        <img src="{{backend.rubyimg}}">
                        <h3>{{backend.rubytag}}</h3>
                    </div>
                    <div class="python">
                        <img src="{{backend.pythonimg}}">
                        <h3>{{backend.pythontag}}</h3>
                    </div>
                    <div class="node">
                        <img src="{{backend.nodejsimg}}">
                        <h3>{{backend.nodejstag}}</h3>
                    </div>
                    <div class="php">
                        <img src="{{backend.phpimg}}">
                        <h3>{{backend.phptag}}</h3>
                    </div>
                    <div class="java">
                        <img src="{{backend.javaimg}}">
                        <h3>{{backend.javatag}}</h3>
                    </div>
                    <div class="go">
                        <img src="{{backend.golangimg}}">
                        <h3>{{backend.golangtag}}</h3>
                    </div>

                </div> -->

                <h2>{{frontend.fronttag}}</h2>

                <app-frontend-technologies [frontenddata]="frontend"></app-frontend-technologies>
                <!-- <div class="frontend">
                    <div class="react">
                        <img src="{{frontend.reactimg}}">
                        <h3>{{frontend.reacttag}}</h3>
                    </div>
                    <div class="angular">
                        <img src="{{frontend.angularimg}}">
                        <h3>{{frontend.angulartag}}</h3>
                    </div>
                    <div class="typescipt">
                        <img src="{{frontend.typscriptimg}}">
                        <h3>{{frontend.typescripttag}}</h3>
                    </div>
                    <div class="vue">
                        <img src="{{frontend.vueimg}}">
                        <h3>{{frontend.vuetag}}</h3>
                    </div>
                    <div class="mateor">
                        <img src="{{frontend.mateorimg}}">
                        <h3>{{frontend.mateortag}}</h3>
                    </div>
                    <div class="javascript">
                        <img src="{{frontend.javascriptimg}}">
                        <h3>{{frontend.javascripttag}}</h3>
                    </div>
                    <div class="html">
                        <img src="{{frontend.htmlimg}}">
                        <h3>{{frontend.htmltag}}</h3>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <!-- ____________________________________________________________________ -->

    <app-choose-tagline [chooseTagline]="whytagline"></app-choose-tagline>
<!-- 
    <h1 class="taglinewhyhead">{{whytagline.whychoosetag}}</h1>
    <span class="headerline"></span>
    <p class="taglinewhyp">{{whytagline.whychoosedescription}}</p>
    <div class="empowers">
        <div class="empowerbox">
            <div class="imgnumflex">
                <img src="{{whytagline.progressiveimg}}">
                <h1>{{whytagline.one}}</h1>
            </div>
            <h2>{{whytagline.progressive}}</h2>
            <p>{{whytagline.progressivedescription}}</p>
        </div>
        <div class="empowerbox">
            <div class="imgnumflex">
                <img src="{{whytagline.efficientimg}}">
                <h1>{{whytagline.two}}</h1>
            </div>
            <h2>{{whytagline.efficient}}</h2>
            <p>{{whytagline.efficientdescription}}</p>
        </div>
        <div class="empowerbox">
            <div class="imgnumflex">
                <img src="{{whytagline.flexibleimg}}">
                <h1>{{whytagline.three}}</h1>
            </div>
            <h2>{{whytagline.flexible}}</h2>
            <p>{{whytagline.flexibledescription}}</p>
        </div>
        <div class="empowerbox">
            <div class="imgnumflex">
                <img src="{{whytagline.costeffectiveimg}}">
                <h1>{{whytagline.four}}</h1>
            </div>
            <h2>{{whytagline.costeffective}}</h2>
            <p>{{whytagline.costeffectivedescription}}</p>
        </div>
        <div class="empowerbox">
            <div class="imgnumflex">
                <img src="{{whytagline.consistentimg}}">
                <h1>{{whytagline.five}}</h1>
            </div>
            <h2>{{whytagline.consistent}}</h2>
            <p>{{whytagline.consistentdescription}}</p>
        </div>
        <div class="empowerbox lastempowerbox">
            <h1>{{whytagline.empowertag}}<span></span> {{whytagline.your}} <span>{{whytagline.business}}</span>{{whytagline.dedicateddev}}</h1>
            <button [type]="whytagline.talkbtn">Talk to Our Expertise</button>
        </div>
    </div> -->

    <!-- ____________________________________________________________________ -->

    <div class="reviews">
        <app-clientele [cilentData]="clientele"></app-clientele>
        <!-- <div class="reviewword">
            <h1>{{ clientele.headtag}}</h1>
            <span class="headerline"></span>
            <p>{{ clientele.description1}}</p>
            <p>{{ clientele.description2}}</p>
        </div> -->
       
            <app-review-boxes [ratingboxdata]="ratingbox"></app-review-boxes>
    </div>
            <!-- <div class="revbox">
                <div class="rating">
                    <h3>{{ clientele.rating}}</h3>
                    <div class="icon">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>

                <p>{{ clientele.para}}</p>
                <small>{{ clientele.small}}</small>

                <div class="verified">
                    <i class="bi bi-patch-check-fill"></i>&nbsp;
                    <p>{{ clientele.verfied}}</p>
                </div>
            </div>

            <div class="revbox">
                <div class="rating">
                    <h3>{{ clientele.rating}}</h3>
                    <div class="icon">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>

                <p>"They understand complex technical requirements, and they have a team that quickly gets up to speed."</p>
                <small>Founder, Cimpro.io</small>

                <div class="verified">
                    <i class="bi bi-patch-check-fill"></i>
                    <p>Verified Review</p>
                </div>
            </div>

            <div class="revbox">
                <div class="rating">
                    <h3>{{ clientele.rating}}</h3>
                    <div class="icon">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>

                <p>{{ clientele.para}}</p>
                <small>{{ clientele.small}}</small>

                <div class="verified">
                    <i class="bi bi-patch-check-fill"></i>
                    <p>{{ clientele.verfied}}</p>
                </div>
            </div>

            <div class="revbox">
                <div class="rating">
                    <h3>{{ clientele.rating}}</h3>
                    <div class="icon">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>

                <p>{{ clientele.para}}</p>
                <small>{{ clientele.small}}</small>

                <div class="verified">
                    <i class="bi bi-patch-check-fill"></i>
                    <p>{{ clientele.verfied}}</p>
                </div>
            </div>

            <div class="revbox">
                <div class="rating">
                    <h3>{{ clientele.rating}}</h3>
                    <div class="icon">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>

                <p>{{ clientele.para}}</p>
                <small>{{ clientele.small}}</small>

                <div class="verified">
                    <i class="bi bi-patch-check-fill"></i>
                    <p>{{ clientele.verfied}}</p>
                </div>
            </div>

            <div class="revbox">
                <div class="rating">
                    <h3>{{ clientele.rating}}</h3>
                    <div class="icon">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>

                <p>{{ clientele.para}}</p>
                <small>{{ clientele.small}}</small>

                <div class="verified">
                    <i class="bi bi-patch-check-fill"></i>
                    <p>{{ clientele.verfied}}</p>
                </div>
            </div>

            
        </div> -->



    <!-- ____________________________________________________________________ -->


        
     <div class="awards"> 
        <div class="awardhead">
            <app-award [awardData]="awards"></app-award>
        <!-- <h1>{{awards.awards}} <br>{{awards.recognization}}</h1> --> -->
        </div> 
        <!-- <div class="awardimage">
            <img src="{{awards.img1}}" height="160" width="160">
            <img src="{{awards.img2}}" height="160" width="160">
            <img src="{{awards.img3}}" height="160" width="160">
            <img src="{{awards.img4}}" height="160" width="160">
            <img src="{{awards.img5}}" height="160" width="160">
        </div> -->

    <!-- </div> -->
     </div>

    <!-- ____________________________________________________________________ -->

    <!-- <div class="blogs"> -->
        <app-blog [blogData]="blogs"></app-blog>
        <!-- <h1>{{blog.ourblog}}</h1>
        <span class="headerline"></span>
        <div class="bloggers">
            <div class="blog">
                <img src="../assets/images/Python-vs-Java.png">
                <div style="display: flex;justify-content: space-between;">
                    <button>Python</button>
                    <p>15/12/22</p>
                </div>
                <h3>{{blog.python}}</h3>
                <p>{{blog.pythondes}}</p>
                <a href="#">{{blog.readmore}}</a>
            </div>
            <div class="blog">
                <img src="../assets/images/Node.js-Application.png">
                <div style="display: flex;justify-content: space-between;">
                    <button></button>
                    <p>9/12/22</p>
                </div>
                <h3>{{blog.nodejs}}</h3>
                <p>{{blog.nodejsdes}}</p>
                <a href="#">{{blog.readmore}}</a>
            </div>
            <div class="blog">
                <img src="../assets/images/Kotlin-vs-Java.png">
                <div style="display: flex;justify-content: space-between;">
                    <button>RoR</button>
                    <p>9/12/22</p>
                </div>
                <h3>{{blog.ror}}</h3>
                <p>{{blog.rordes}}</p>
                <a href="#">{{blog.readmore}}</a>
            </div>
        </div>
    </div> -->

    <!-- ____________________________________________________________________ -->
<app-global-presence [globalData]="global"></app-global-presence>
    <div class="contactus">
        <!-- <div class="formdetail">
            <div class="address">

                <h4>{{global.global}}</h4>

                <div class="place">
                    <h6>{{global.hq}}</h6>
                    <p class="add-city">{{global.address1}}</p>
                    <a href="tel:+91 99138 08285" class="contact mobile-no"><i
                            class="bi bi-telephone-fill"></i>&nbsp;&nbsp; {{global. no1}}</a>
                </div>

                <div class="place">
                    <h6>{{global.usa}}</h6>
                    <p class="add-city">{{global.address2}}</p>
                    <a href="tel: +1 (404) 483-3388" class="contact mobile-no"><i
                            class="bi bi-telephone-fill"></i>&nbsp;&nbsp;{{global.no2}}</a>
                </div>

                <div class="place">
                    <h6>{{global.uk}}</h6>
                    <p class="add-city">{{global.address3}}</p>
                    <a href="tel:+44 78240 75400" class="contact mobile-no"><i
                            class="bi bi-telephone-fill"></i>&nbsp;&nbsp;{{global.no3}}</a>
                </div>

                <div class="place">
                    <a href="mailto:solutions@taglineinfotech.com" class="mail"><i
                            class="bi bi-envelope-fill"></i>{{global.email}}</a>
                </div>

            </div>
        </div> -->

        <app-form [formData]="globalform"></app-form>
        <!-- <div class="forms">
            <h1>{{globalform. getquote}}</h1>
            <input type="text" placeholder="Full Name"><br>
            <input type="text" placeholder="Phone"><br>
            <input type="email" placeholder="Email"><br>
            <textarea placeholder="Message" rows="3"></textarea><br>
            <button>Send Message</button>
        </div> -->
    </div>

    <!-- ____________________________________________________________________ -->

    <div class="footer">
        <app-footer [footerData]="footer"></app-footer>
        <!-- <div class="firstfooter">
            <div class="cont1">
                <h3>{{footer.latest}}</h3>
                <p> {{footer.sharemail}}<span style="color:#d66f37">{{footer.guides}} </span>{{footer.and}} <span
                        style="color:#d66f37">{{footer.industrynews}}</span></p>
            </div>
            <div class="cont2">
                <input type="text" placeholder="Email"><span><button>{{footer.subscribe}}</button></span>
                <p>{{footer.unsubscribe}}</p>
            </div>
        </div> -->
         <div class="division">
            <app-hr-creditencials [hrData]="hr"></app-hr-creditencials>
                <!-- <div class="hr">
                    <h3>{{footer.inquiry}}</h3>
                    <ul>
                        <li><a href=""><i class="bi bi-telephone-fill"></i>&nbsp; </a>{{footer.email}}</li>
                        <li><a href=""><i class="bi bi-envelope-fill"></i>&nbsp; {{footer.no}}</a></li>
                    </ul>
                </div> -->
                <!-- <div class="sales">
                    <h3>{{footer.saless}}</h3>
                    <ul>
                        <li><a href=""> {{footer.email}}</a></li>
                        <li><a href=""> {{footer.tagline}}</a></li>
                    </ul>
                </div> -->
            </div>

            <app-help-advice [helpData]="helpadvice"></app-help-advice>
             <!-- <div class="help">
                <h3>{{footer.help}}</h3>
                <ul>
                    <li><a href=""><i class="bi bi-telephone-fill"></i>&nbsp;{{footer.career}}</a></li>
                    <li><a href=""><i class="bi bi-file-person-fill"></i>&nbsp;{{footer.aboutus}}</a></li>
                    <li><a href=""><i class="bi bi-envelope-fill"></i>&nbsp;{{footer.contactus}}</a></li>
                    <li><a href=""><i class="bi bi-camera-video"></i>&nbsp;{{footer.blog}}</a></li>
                    <li><a href=""><i class="bi bi-file-earmark-lock2-fill"></i>&nbsp;{{footer.privacy}}</a></li>
                    <li><a href=""><i class="bi bi-diagram-3-fill"></i>&nbsp;{{footer.sitemap}}</a></li>
                </ul>
            </div> -->

            <app-services [serviceData]="servicesProvide"></app-services>
            <!-- <div class="service">
                <h3>{{footer.service}}</h3>
                <ul>
                    <li><a href="">{{footer.mobile}}</a></li>
                    <li><a href="">{{footer.webdev}}</a></li>
                    <li><a href="">{{footer.webdesign}}</a></li>
                    <li><a href="">{{footer.ui}}</a></li>
                    <li><a href="">{{footer.digital}}</a></li>
                </ul>
            </div>

              -->
            <app-hire-developers [hireDeveloper]="developerHiring"></app-hire-developers>
<!--  
     <div class="hire">
                <h3>{{footer.hire}}</h3>
                <ul>
                    <li><a href="">{{footer.hirepython}}</a></li>
                    <li><a href="">{{footer.hireangular}}</a></li>
                    <li><a href="">{{footer.hireror}}</a></li>
                    <li><a href="">{{footer.hireflutter}}</a></li>
                    <li><a href="">{{footer.hirereact}}</a></li>
                    <li><a href="">{{footer.hirenative}}</a></li>
                </ul>
            </div> -->

        </div> 

        <app-last-footer [footerSection]="footerLast"></app-last-footer>
          <!-- <div class="lastfooterdiv">
            <img src="../assets/images/tagline-stamp.png">
            <div><a href="" style="text-decoration: none;color: gray;font-size: 17px;">{{footer.follow}}<i
                        class="bi bi-facebook"></i>
                    <i class="bi bi-linkedin"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-globe"></i>

                </a></div>
            <p>© <span style="color:#d66f37">{{footer.year}}</span> {{footer.rightreserved}} <a href=""
                    style="text-decoration: none;color:#d66f37">{{footer.llp}}</a></p>
        </div>  -->
    
    


<router-outlet></router-outlet> 