 <div class="backend">

                    <div class="ror">
                        <img src="{{backenddata.rubyimg}}">
                        <h3>{{backenddata.rubytag}}</h3>
                    </div>
                    <div class="python">
                        <img src="{{backenddata.pythonimg}}">
                        <h3>{{backenddata.pythontag}}</h3>
                    </div>
                    <div class="node">
                        <img src="{{backenddata.nodejsimg}}">
                        <h3>{{backenddata.nodejstag}}</h3>
                    </div>
                    <div class="php">
                        <img src="{{backenddata.phpimg}}">
                        <h3>{{backenddata.phptag}}</h3>
                    </div>
                    <div class="java">
                        <img src="{{backenddata.javaimg}}">
                        <h3>{{backenddata.javatag}}</h3>
                    </div>
                    <div class="go">
                        <img src="{{backenddata.golangimg}}">
                        <h3>{{backenddata.golangtag}}</h3>
                    </div>

                </div>