<div class="frontend">
    <div class="react">
        <img src="{{frontenddata.reactimg}}">
        <h3>{{frontenddata.reacttag}}</h3>
    </div>
    <div class="angular">
        <img src="{{frontenddata.angularimg}}">
        <h3>{{frontenddata.angulartag}}</h3>
    </div>
    <div class="typescipt">
        <img src="{{frontenddata.typscriptimg}}">
        <h3>{{frontenddata.typescripttag}}</h3>
    </div>
    <div class="vue">
        <img src="{{frontenddata.vueimg}}">
        <h3>{{frontenddata.vuetag}}</h3>
    </div>
    <div class="mateor">
        <img src="{{frontenddata.mateorimg}}">
        <h3>{{frontenddata.mateortag}}</h3>
    </div>
    <div class="javascript">
        <img src="{{frontenddata.javascriptimg}}">
        <h3>{{frontenddata.javascripttag}}</h3>
    </div>
    <div class="html">
        <img src="{{frontenddata.htmlimg}}">
        <h3>{{frontenddata.htmltag}}</h3>
    </div>
</div>