
 .frontend {
    display: flex;
    flex-wrap: wrap;
    max-width: max-content;
}

 .frontend div {
    padding: 45px 42px 20px 40px;
}

 .frontend img {
    height: 50px;
    min-width: 25%;
}

 .frontend h3 {
    font-weight: 300;
    text-align: center;
}