div h3 {
    font-size: 25px;
}

 ul {
    flex-direction: column;
}

 ul li {
    list-style: none;
    padding: 15px 0 5px 0;

}

 ul li a {
    font-size: 18px;
    text-decoration: none;
    color: gray;
}
