<div class="formdetail">
    <div class="address">

        <h4>{{globalData.global}}</h4>

        <div class="place">
            <h6>{{globalData.hq}}</h6>
            <p class="add-city">{{globalData.address1}}</p>
            <a href="tel:+91 99138 08285" class="contact mobile-no"><i
                    class="bi bi-telephone-fill"></i>&nbsp;&nbsp; {{globalData. no1}}</a>
        </div>

        <div class="place">
            <h6>{{globalData.usa}}</h6>
            <p class="add-city">{{globalData.address2}}</p>
            <a href="tel: +1 (404) 483-3388" class="contact mobile-no"><i
                    class="bi bi-telephone-fill"></i>&nbsp;&nbsp;{{globalData.no2}}</a>
        </div>

        <div class="place">
            <h6>{{globalData.uk}}</h6>
            <p class="add-city">{{globalData.address3}}</p>
            <a href="tel:+44 78240 75400" class="contact mobile-no"><i
                    class="bi bi-telephone-fill"></i>&nbsp;&nbsp;{{globalData.no3}}</a>
        </div>

        <div class="place">
            <a href="mailto:solutions@taglineinfotech.com" class="mail"><i
                    class="bi bi-envelope-fill"></i>{{globalData.email}}</a>
        </div>

    </div>
</div>