<div class="formdetail">
    <div class="address">

        <!-- <h4>{{global.global}}</h4> -->

        <div class="place"  *ngFor="let global of globalData">
            <h6>{{global.country}}</h6>
            <p class="add-city">{{global.address}}</p>
            <a href="tel:+91 99138 08285" class="contact mobile-no"><i
                    class="bi bi-telephone-fill"></i>&nbsp;&nbsp; {{global.no}}</a>
        </div>

       

        <!-- <div class="place">
            <a href="mailto:solutions@taglineinfotech.com" class="mail"><i
                    class="bi bi-envelope-fill"></i>{{globalData.email}}</a>
        </div> -->

    </div>

    
</div>